Bacheca Elettronica

Realizzazione di un servizio "bacheca elettronica" il quale 
permetta ad ogni utente autorizzato di inviare messaggi che
possono essere letti da ogni altro utente interessato a consultare
la bacheca stessa.

Il servizio di accesso alla bacheca elettronica deve essere offerto da
un server che accetta e processa sequenzialmente o in concorrenza (a scelta)
le richieste dei client (residenti, in generale, su macchine diverse dal server).

Un client deve fornire ad un utente le seguenti funzioni:
1. Leggere tutti i messaggi presenti sulla bacheca elettronica.
2. Spedire un nuovo messaggio sulla bacheca elettronica.
3. Rimuovere un messaggio dalla bacheca elettronica, se inserito
   dallo stesso utente interessato a cancellarlo (verifica da effettuare
   tramite un meccanismo di autenticazione a scelta).

Un messaggio deve contenere almeno i campi Mittente, Oggetto e Testo.

Si precisa che la specifica richiede la realizzazione del software sia per
l'applicazione client che per l'applicazione server.

Per progetti misti Unix/Windows e' a scelta quale delle due applicazioni
sviluppare per uno dei due sistemi.
